<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link rel="stylesheet"
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<nav  class="navbar navbar-expand-lg " style="background-color:rgb(255, 255, 255);z-index: 100;position: sticky;top: 0;box-shadow: 0 4px 2px -2px rgba(0,0,0,.1);">
  <a style="color:rgb(0, 0, 0);margin-left: 10px;font-family:'Times New Roman', Times, serif" class="navbar-brand" href="/all-doctors">Hospital Panel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div style="font-family: 'Times New Roman', Times, serif;" class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a style="color: black;" class="nav-link" href="/all-doctors">All Doctors <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a style="color: black;" class="nav-link" href="/add-doctor">Add Doctors</a>
      </li>
      <li class="nav-item">
        <a style="color: black;" class="nav-link" href="/view-appoinmentreq">View Requests</a>
      </li>
      <li class="nav-item">
        <a style="color: black;" class="nav-link" href="/view-accepted-appoinment">Accepted Appoinments</a>
      </li>
    </div>
    
</nav>
<style>
  a:link{
    text-decoration: none;
  }
  a:visited{
    text-decoration: none;
  }
</style>