<!DOCTYPE html>
<html lang="en">
<head>
    <title>Health Appointment Form Flat Responsive Widget Template :: w3layouts</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Health Appointment Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <!-- css files -->
    <link rel="stylesheet" href="/scss/jquery-ui.css" />
    <link href="/scss/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <!-- //css files -->
</head>
<!-- body starts -->
<body>
<!-- section -->
<section class="register">
    <div class="register-full">
        <div class="register-right">
            <div class="register-in">
                <h1>Health Appointment form</h1>
                <div class="registerimg">
                    <img src="/assets/doctor.png" alt="" />
                </div>
                <div class="register-form">
                    <form action="/appoinment" method="post">
                        <div class="fields-grid">
                            <div class="styled-input">
                                <input type="text" name="name" required=""> 
                                <input type="text" name="doctorId" value="{{doctorId}}" required="" hidden> 
                                <input type="text" name="doctorName" value="{{doctorName}}" required="" hidden > 
                                <input type="text" name="hospitalId" value="{{hospitalId}}" required=""  hidden > 
                                <input type="text" name="status" value="waiting" required=""  hidden > 
                                <label>Patients Name</label>
                                <span></span>
                            </div> 
                            <div class="styled-input">
                                <input type="email" name="email" required="">
                                <label>Email</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="tel" name="Phone" required=""> 
                                <label>Phone Number</label>
                                <span></span>
                            </div> 
                            <div class="styled-input">
                                <h2>Sex :</h2>
                                <input type="radio" name="gender" value="male" checked> Male
                                <input type="radio" name="gender" value="female"> Female
                            </div>
                            <div class="styled-input">
                                <input class="date" id="datepicker" name="date" type="text" required onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'MM/DD/YYYY';}" >
                            </div>   
                            <button class="btn btn-danger">Submit</button>
                            <div class="clear"> </div>
                        </div>
                    </form>
                </div>
            <div class="clear"> </div>
        </div>
        </div>
    <div class="clear"> </div>
</div>
    <!-- copyright -->
    <p class="agile-copyright">© 2017 Health Appointment Form. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">W3layouts</a></p>
    <!-- //copyright -->
</section>
<!-- //section -->

<!-- Default-JavaScript --> <script type="text/javascript" src="/javascript/jquery-2.1.4.min.js"></script>

<!-- Calendar -->
<script src="/javascript/jquery-ui.js"></script>
<script>
    $(function() {
        $("#datepicker").datepicker({
            minDate: 0 // Disables selection of previous dates
        });
    });
</script>
<!-- //Calendar -->

</body>   
<!-- //body ends -->
</html>
