<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="font-family: 'Times New Roman', Times, serif; background-image:linear-gradient(to right,rgba(44, 156, 53, 0.384),rgba(255, 255, 255, 0.671)),url(/images/63a9733bf7749a678c0dacf9.jpg)";>
  
<div class="container">
    <div>
      <h2 style="margin-left: 320px;" >Welcome To {{hospital.details.name}}</h2>
    </div>
    <table class="table mt-3">
  <body>
</table>
</div>

</body>
</html>